* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
    /* border: 1px solid black; */
}

#Preloader {
    z-index: 9;
}

p {
    margin-bottom: 0 !important;
}

ul {
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}

.container-main {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 12px;
}

.bg-linear {
    background: url(/assets/images/bg-linear.png);
    background-position: center;
    background-size: 100% 100%;
}

.rainbow {
    position: absolute;
    top: 0%;
    left: 0%;
}

.bg-cloud {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
}

.hero-left-tree {
    position: absolute;
    left: 0%;
    bottom: 0%;
    z-index: 2;
    width: 42%;
    max-width: 250px;
    min-width: 0%;
}

.hero-right-tree {
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: 2;
    width: 42%;
    max-width: 250px;
    min-width: 25%;
}

.nav-bar {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(38deg, rgba(72, 192, 255, 1) 22%, rgba(131, 213, 255, 1) 81%);
    z-index: 5;
    transition: all .8s cubic-bezier(0.68, 1.55, 0.265, .55);
}

.hover-line {
    position: relative;
}

.hover-line::before {
    content: '';
    position: absolute;
    bottom: -35%;
    right: 0;
    background: #FB9100;
    border-radius: 10px;
    width: 0%;
    height: 2px;
    transition: all 500ms;
}

.hover-line:hover::before {
    width: 100%;
}

.hover-line2 {
    position: relative;
}

.hover-line2::before {
    content: '';
    position: absolute;
    bottom: -35%;
    right: 0;
    background: #fff;
    border-radius: 10px;
    width: 0%;
    height: 2px;
    transition: all 500ms;
}

.hover-line2:hover::before {
    width: 100%;
}

.left_0 {
    left: 0%;
}

.hover-btn {
    transition: all 100ms;
}

.hover-btn:hover {
    background: none;
    border: 2px solid #4CBAFf;
    color: #4CBAFf;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    background-color: #4CBAFf;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    z-index: 5;
}

#myBtn:hover {
    background-color: #93D8FD;
}

#loader-arrow {
    height: 25px;
    width: 25px;
    transform: rotate(-90deg);
}

.overflow_hidden {
    overflow: hidden;
}

.menu-button {
    height: 10px;
    width: 30px;
    border: none;
    background: none;
    z-index: 5;
}

.menu-button span {
    border: 2px solid white;
    display: flex;
    margin-bottom: 5px;
    border-radius: 2px;
}

.menu-line1 {
    transform: rotate(45deg);
    position: relative;
    top: 12px;
    transition: all 300ms;
}

.menu-line2 {
    position: relative;
    top: 4px;
    transform: rotate(-45deg);
    transition: all 300ms;
}

.menu-line3 {
    opacity: 0;
}

.text-shadow1 {
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.18);
}

.text-shadow2 {}

.text-shadow3 {
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.btn-join {
    padding: 16px 40px 16px 40px;
    border: none;
    border-radius: 44px;
}

.clippath {
    position: absolute;
    left: 0%;
    width: 100%;
    bottom: 5%;
    z-index: 1;
}

.hero-nft {
    position: absolute;
    bottom: 5%;
    width: 100%;
    min-width: 80%;
    max-width: 253px;
    left: 7%;
}

.section-2head {
    width: 100%;
}

.grass {
    position: absolute;
    bottom: -3%;
    left: 0%;
    width: 100%;
}

.section-2 {
    background: url(/assets/images/section-2.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}


.cloud {
    width: 100%;
    background: white;
    height: 540px;
    border-radius: 10px;
    height: 360px;
}
.cloud-1{
    position: absolute;
    right: 20%;
}
.cloud-2{
    position: absolute;
    right: 0%;
    top: -15%;
}
.cloud-3{

    position: absolute;
    left: 18%;
    top: 35%;
}
.cloud-4{
    position: absolute;
    right: 15%;
    top: 20%;
}

.text-about {
    text-shadow: 1px 4px 0px #F683C5;
}


.section-2-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.sleeping {
    position: absolute;
    top: 0;
}

.aboutus-tree {
    position: absolute;
    bottom: -22%;
    left: 0%;
}

.section-3 {
    background: #93D8FD;
}

.about-ustree {
    position: absolute;
    bottom: -14%;
    width: 100%;
    min-width: 160px;
    max-width: 70px;
}

.pink-nft {
    position: absolute;
    bottom: -9%;
    right: 0;
    padding-right: 7px;
    width: 100%;
    max-width: 130px;
    min-width: 20%;
}

.section-3cloud {
    position: absolute;
    bottom: 0;
    left: 0;
}

.sec-3vector {
    position: absolute;
    right: 0;
    bottom: 0;
}

.gif {
    border-radius: 20.821px;
    border: 13.15px solid #FFF;
    background: url(<path-to-image>),
        lightgray 50% / cover no-repeat,
        #FFF;
    box-shadow: 15.34152px 15.34152px 4.38329px 0px rgba(0, 0, 0, 0.25);
    width: 270px;
}

.rainbow-gif {
    position: absolute;
    top: 0;
    right: 0%;
    width: 30%;
}

.shadow-impact {
    text-shadow: 1px 4px 0px #3D53A0;
}

.gif-img {
    width: 245px;
    height: 298px;
    border-radius: 6px;
}

.impact-tree {
        position: absolute;
        bottom: -17%;
        right: 0;
        z-index: 1;
        width: 90%;
        max-width: 90px;
            min-width: 137px;
}

.bg-roadmap {
    background: url(/assets/images/bg-roadmap.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.roadmap-shadow {
    text-shadow: 1px 4px 0px #5BA72B;
}

.card-main {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    background: rgba(255, 255, 255, 0.10);
    padding: 20px;
    height: 290px;
}

.phase-clr {
    color: white;
    opacity: 0.3;
}

.card-main:hover {
    background: #5BA72B;
}

.footer-bg {
    background: url(/assets/images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.footer-tree {
        position: absolute;
        top: -7%;
        left: 0px;
        width: 100%;
        max-width: 120px;
        min-width: 190px;
}

.footer-nft1 {
    position: absolute;
    bottom: 6.5%;
    left: 0;
    width: 0;
    min-width: 110px;
    max-width: 140px;
}

.footer-nft2 {
    position: absolute;
    bottom: 6.5%;
    right: 0;
    width: 0%;
    min-width: 110px;
    max-width: 140px;
}
.line{
    width: 100%;
    background:rgba(0, 0, 0, 0.30);
    height: 1px;
}

.shadow-faq {
    text-shadow: 2px 6px 0px #FB9100;
}

.accordion-item {
    border-radius: 8px !important;
}

.accordion-item:first-of-type .accordion-button {
    border-radius: 8px !important;
}

.accordion-button:not(.collapsed) {
    color: unset !important;
    background-color: unset !important;
    box-shadow: unset !important;
}

.accordion-button:focus {
    border-color: unset !important;
    box-shadow: unset !important;
}

.accordion {
    width: 845px !important;
    background: transparent !important;
    background-color: transparent !important;
}

.accordion-button::after {
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    background-image: url(../images/svg/down-arrow.svg) !important;
}

.accordion-button {
    font-size: var(--fs-22) !important;
}

.accordion-body {
    padding-top: unset !important;
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
}
























@media (min-width:768px) {
    .gif{
        width:340px;
        height: 370px;
    }
    .gif-img{
        width: 315px;
        height: 345px;
        
    }
    .grass{
        bottom: -6%;
    }
}

@media (min-width:992px) {
    .nav-bar {
        flex-direction: row;
        position: static;
        height: 100%;
        width: auto;
        background: inherit;
    }

    .cloud {
        background: url(/assets/images/cloudcontent.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .grass{
        bottom: -7%;
    }
    .cloud{
        height: 490px;
    }
    .pink-nft{
        bottom: -17%;
    }
    .about-ustree{
        bottom: -21%;
    }
    .footer-nft1 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        min-width: 250px;
        max-width: 140px;
    }

    .footer-nft2 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        min-width: 250px;
        max-width: 140px;
    }
}
@media (min-width:1200px) {
        .grass{
            bottom: -10%;
        }
        .clippath{
            bottom: 10%;
        }
        .hero-nft{
            bottom: 10%;
        }
        .about-ustree{
            bottom: -27%;
        }
        .pink-nft{
            bottom: -21%;
        }
        .gif{
            width: 446px;
            height: 498px;
        }
        .gif-img{
            width: 420px;
            height: 475px;
        }
        .footer-tree{
            top: -14%;
        }


}
@media (min-width:1400px) {
        .about-ustree{
            min-width: 269px;
            bottom: -33%;
        }
        .pink-nft{
            bottom: -27%;
        }
        .footer-nft1 {
           
            width: 100%;
            min-width: 250px;
            max-width: 360px;
        }

        .footer-nft2 {
           
            width: 100%;
            min-width: 250px;
            max-width: 360px;
        }
       .grass{
            bottom: -12%;
       }
}
@media (min-width:1600px) {
     .grass {
         bottom: -17%;
     }
}
